.FooterContainer .set-footer-icon {
  width: 85px;
  height: 64px;
  box-sizing: border-box;
}
.FooterContainer .footer-bg {
  background-color: #1f2532;
  color: #ffffff;
}
.FooterContainer .footer_social_icon {
  margin-top: 40px;
  text-align: center;
}
.FooterContainer .footer_social_icon li {
  display: inline-block;
  list-style-type: none;
}
.FooterContainer .footer_social_icon a {
  display: block;
  background: #9cc5e0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 2.13em;
  cursor: pointer;
}
.FooterContainer .footer_social_icon a:hover {
  background-color: #1983ca;
}
.FooterContainer .footer-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.FooterContainer .footer-list li {
  display: inline-block;
}
.FooterContainer .footer-list li a {
  text-decoration: none;
  display: block;
  color: #ffffff;
}
.FooterContainer .footer-terms-font {
  font-size: 10px;
  text-decoration: none;
  font-family: sans-serif;
}
.FooterContainer .footer-icon-font {
  font-size: 13px;
  text-decoration: none;
  font-family: sans-serif;
}
.FooterContainer .margin-top-bottom {
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.FooterContainer .set-opacity {
  opacity: 0.6;
}
.FooterContainer .set-footer-icon {
  width: 85px;
  height: 64px;
  box-sizing: border-box;
}
.FooterContainer .footer-bg {
  background-color: #1f2532;
  color: #ffffff;
}
.FooterContainer .footer_social_icon {
  margin-top: 40px;
  text-align: center;
}
.FooterContainer .footer_social_icon li {
  display: inline-block;
  list-style-type: none;
}
.FooterContainer .footer_social_icon a {
  display: block;
  background: #9cc5e0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 2.13em;
  cursor: pointer;
}
.FooterContainer .footer_social_icon a:hover {
  background-color: #1983ca;
}
.FooterContainer .footer-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.FooterContainer .footer-list li {
  display: inline-block;
}
.FooterContainer .footer-list li a {
  text-decoration: none;
  display: block;
  color: #ffffff;
}
.FooterContainer .footer-terms-font {
  font-size: 10px;
  text-decoration: none;
  font-family: sans-serif;
}
.FooterContainer .footer-icon-font {
  font-size: 13px;
  text-decoration: none;
  font-family: sans-serif;
}
.FooterContainer .margin-top-bottom {
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.FooterContainer .set-opacity {
  opacity: 0.6;
}
.FooterContainer .noLRPadding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.FooterContainer .marginTop-25 {
  margin-top: 25px !important;
}
.FooterContainer .top-padding-10 {
  padding-top: 10px;
}
.FooterContainer .left-margin-40 {
  margin-left: 40px;
}
.FooterContainer .tb-padding-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.FooterContainer .bottom-margin-10 {
  margin-bottom: 10px;
}
