.mainHome .minHeight {
  min-height: 88px;
}
.mainHome .navSize {
  width: 100px !important;
  height: 100px !important;
}
.mainHome .navPadding {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.mainHome .tb-padding-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.mainHome .home {
  color: #185a9d;
  margin: 50px;
  line-height: 7;
}
.mainHome .noPadding {
  padding: 0px;
}
.mainHome .logo {
  margin-top: 20px;
  margin-left: 30px;
}
.mainHome .background {
  color: #185a9d !important;
  border: none !important;
  border-color: white;
}
.mainHome .navbar {
  background-color: white !important;
}
.mainHome .sections {
  height: auto;
  background-color: white;
}
.mainHome .nav-align {
  padding-right: 210px !important;
  padding-left: 210px !important;
}
.mainHome .navbar-brand {
  float: left;
  height: 0px !important;
  padding: 0 !important;
  line-height: 0px !important;
}
.mainHome .startupPortal {
  height: auto;
  background: linear-gradient(to right, #43cea2, #185a9d);
}
.mainHome .startupPortal .portal {
  color: white;
  text-align: center;
  padding-bottom: 20px;
}
.mainHome .chooseStartup {
  display: flex;
  flex-direction: row;
  color: white;
  flex: 1;
}
.mainHome .textDefine {
  margin: 160px;
}
.mainHome .columnAlign h5 {
  text-align: center;
}
.mainHome .columnAlign p {
  color: grey;
}
.mainHome .chooseStartup img {
  margin: 5px;
}
.mainHome .chooseStartup2 {
  color: white;
  display: flex;
  flex-direction: row;
}
.mainHome .featureDetailContainer {
  padding-bottom: 30px;
  height: auto;
}
.mainHome .featureDetailContainer .textDetailsContainer {
  text-decoration: none;
  color: black;
  background-color: white;
  line-height: 100px;
  margin: auto;
  text-align: center;
  font-size: 30px;
  padding-bottom: 15px;
}
.mainHome .featureDetailContainer .imageDetailsContainer {
  background-color: white;
  margin: auto;
}
.mainHome .columnAlign .text {
  padding-bottom: 17px;
  padding-top: 17px;
}
.mainHome .featureDetailContainer .imageDetailsContainer .defineText {
  color: #9ba5af;
  margin-left: 120px;
}
.mainHome .featureDetailContainer .imageDetailsContainer {
  display: flex;
  flex-direction: row;
}
.mainHome .featureDetailContainer .imageDetailsContainer .columnAlign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.mainHome .columnAlign .text {
  text-align: centre;
}
.mainHome .columnAlign .image1 {
  width: 90px;
  height: 90px;
  text-align: centre;
  background: linear-gradient(132deg, #3dbdb6, #0089ce);
  text-align: center;
  line-height: 90px;
  border-radius: 50%;
}
.mainHome .columnAlign .image2 {
  width: 90px;
  height: 90px;
  text-align: centre;
  background: linear-gradient(309deg, #7a86cc, #a0adf9);
  text-align: center;
  line-height: 90px;
  border-radius: 50%;
}
.mainHome .columnAlign .image3 {
  width: 90px;
  height: 90px;
  text-align: centre;
  background: linear-gradient(to bottom, #f3778f, #f36a95 44%, #f15a9d);
  text-align: center;
  line-height: 90px;
  border-radius: 50%;
}
.mainHome .aboutIcreate {
  background-color: #57b751;
  height: auto;
}
.mainHome .description {
  padding: 60px;
}
.mainHome .aboutStartups {
  margin-left: 50px;
}
.mainHome .aboutIcreate .icreateLogo {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background: #57b751;
}
.mainHome .aboutIcreate .icreateLogo img {
  width: 40%;
  height: 40%;
}
.mainHome .aboutIcreate .subAboutIcreate {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.mainHome .logoDivision {
  line-height: 500px;
  margin-top: 60px;
  padding-bottom: 20px;
}
.mainHome .aboutIcreate .icreateMission {
  color: white;
}
.mainHome .subAboutIcreate p {
  width: auto;
}
.mainHome .child1 {
  margin: 30px;
}
.mainHome .child2 {
  margin: 30px;
}
.mainHome ul {
  border: none;
}
.mainHome li {
  float: left;
  padding: 15px;
  color: grey;
  list-style: none;
}
.mainHome .deliverHappiness {
  background-color: #0f61ab;
  height: auto;
  padding-bottom: 20px;
}
.mainHome .deliverHappiness .happinesstext h5 {
  color: white;
  text-align: center;
  line-height: 100px;
}
.mainHome .auto-lr-margin {
  margin-left: auto !important;
  margin-right: auto !important;
}
.mainHome .startupEcosystem {
  background: linear-gradient(to right, #43cea2, #185a9d);
  padding-bottom: 70px;
  padding-top: 40px;
}
.mainHome .subEco {
  text-align: center;
  color: white;
}
.mainHome .subSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  padding-top: 20px;
}
.mainHome .subDescription {
  display: flex;
  align-items: flex-start;
  padding: 40px;
}
.mainHome h3 {
  padding: 0px;
  margin: 0px;
}
.mainHome .main {
  padding: 10px;
}
.mainHome .companiesAdvertisment {
  display: flex;
  justify-content: center;
}
.mainHome .companyName {
  padding-right: 15px;
  color: grey;
}
.mainHome .session {
  padding-top: 30px;
  padding-bottom: 30px;
}
